<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet" type="text/css">
</head>

<body>

<div style="width:99%;
                    height:auto;
                    background-image:url('https://www.fint.ng/portal/images/covers/gradient.jpg');
                    background-repeat:no-repeat;
                    background-size:cover;
                    float:left;
                    border:1px solid #ccc;">
    <p style="text-align:center;">
        <img src="https://www.fint.ng/portal/images/logos/fint_logo_64.png" style="display:inline-block;"/>
    </p>
    <div style="width:90%;
                            color:#fff;
                            font-size:18px;
                            font-family: 'Montserrat', Arial;
                            padding-top:10px;
                            padding-bottom:15px;
                            padding-left:10%;
                            text-align:left;
                            float:left;">
        {header}
    </div>

    <div style="width:80%;
                            height:auto;
                            color:#bbb;
                            font-size:16px;
                            font-family: 'Montserrat', Arial;
                            padding-bottom:40px;
                            padding-top:15px;
                            padding-left:10%;
                            padding-right:10%;
                            text-align:left;
                            float:left;
                            line-height:30px;">
        Dear {username},<br><br>
        {message}
    </div>
    <br/><br/>
    <div style="width:90%;
                          height:80px;
                          color:#bbb;
                          font-size:16px;
                          font-family: 'Montserrat', Arial;
                          padding-top:20px;
                          padding-left:10%;
                          border-bottom:1px solid #555;
                          text-align:left;
                          float:left;
                          line-height:30px;">

        Better Rates, Better Returns.<br/>
        FINT Team
    </div>

    <div style="width:90%;
                            height:60px;
                            color:#bbb;
                            float:left;
                            font-size:13px;
                            font-family: 'Montserrat', Arial;
                            padding-top:25px;
                            padding-bottom:35px;
                            padding-left:5%;
                            text-align:center;
                            line-height:30px;">
        FINT Technology Africa<br> support@fint.ng
    </div>

</div>

</body>

</html>