<html>
<head>

    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Message from FINT.">

    <title>FINT</title>

    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">

    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Montserrat);
    </style>
</head>

<body>

<table  style="background-color:#f9f9f9;border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important; height:100%" align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#f9f9f9">
    <tbody><tr><td>

        <table style="border-collapse:collapse;margin:auto;max-width:635px;min-width:320px;width:100%">
            <tbody>
            <tr><td valign="top">
                <table  style="border-collapse:collapse;color:#c0c0c0;font-family:Avenir;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%" cellspacing="0" cellpadding="0" border="0">
                </table></td>
            </tr>

            <tr><td style="padding:0 20px" valign="top">
                <table  style="background-clip:padding-box;border-collapse:collapse;border-radius:3px;color:#545454;font-family:Avenir;font-size:13px;line-height:20px;margin:0 auto;width:100%" align="center" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr><td  valign="top">
                        <table  style="border:none;border-collapse:separate;font-size:1px;height:2px;line-height:3px;width:100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr><td  style="background-color:#40a0d8;border:none;font-family:Avenir;width:100%" valign="top" bgcolor="#40a0d8">&nbsp;</td></tr>
                            </tbody>
                        </table>

                        <table style="background-clip:padding-box;border-collapse:collapse;border-color:#dddddd;border-radius:0 0 3px 3px;border-style:solid solid none;border-width:0 1px 1px;width:100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody style="background-clip:padding-box;background-color:white;border-radius:0 0 3px 3px;color:#525252;font-family:Avenir;font-size:15px;line-height:22px;overflow:hidden;" bgcolor="white">
                            <tr><td  style="background-clip:padding-box;background-color:white;border-radius:0 0 3px 3px;color:#525252;font-family:Avenir;font-size:15px;line-height:22px;overflow:hidden;padding:40px 40px 30px" align="center" bgcolor="white">
                                <div>
                                    <a href="https://www.fint.ng" style="color:#1251ba" target="_blank">
                                        <img src="https://www.fint.ng/portal/images/emails/fint_text_black.png" width="150px" style="max-width:100%" >
                                    </a>
                                </div>

                                <div style="width:80%;
                                                    height:auto;
                                                    float: center;
                                                    text-align: center;
                                                    color: #525252;
                                                    font-family:Avenir;
                                                    font-weight:100;
                                                    font-size:18px;
                                                    padding-left:10%;
                                                    padding-right:10%;
                                                    padding-bottom: 20px;
                                                    border-bottom: 1px #40a0d8 solid;
                                                    padding-top: 15px;">

                                    {intro}<br><br>

                                    <div style="font-size:30px; font-family:Avenir">{curr} {amt}</div>

                                </div>
                                <div style="width:90%;
                                                    height:auto;
                                                    float: center;
                                                    text-align: center;
                                                    color: #525252;
                                                    font-family:Avenir;
                                                    font-weight:100;
                                                    font-size:14px;
                                                    padding-left:5%;
                                                    padding-right:5%;
                                                    padding-bottom: 30px;
                                                    padding-top: 20px;">

                                    <div style="padding-bottom:30px; color:#525252;"><!-- title -->
                                        Transaction Details.
                                    </div>

                                    <div style="width:100%;
                                                        height:30px;
                                                        padding-top:20px;
                                                        padding-bottom:20px;
                                                        border-bottom:1px solid #40a0d8;">

                                        <div style="width:50%;float:left;color:#525252;text-align:left;">
                                            {deet}
                                        </div>

                                        <div style="width:50%;float:left;color:#525252;text-align:right;">
                                            {value}
                                        </div>

                                    </div>

                                </div>

                            </td></tr>
                            <tr>
                                <td>
                                    <hr style="background-color: #40a0d8; height: 1px; border: 0;">
                                </td></tr>

                            <tr>
                                <td>
                                    <div style="padding-bottom:30px;text-align:center;font-size:18px;padding-top:30px;color:#999;font-family:\'Avenir\','Montserrat\', Arial;">
                                        Please take two minutes to give us feedback on our service. Click <a href="https://goo.gl/forms/dHuXcGgYvOvCCAPg1">here</a><br><br>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;">
                                    <font face="Avenir" size="2" color="#525252" style="font-size: 12px;">
                                                    <span style="font-family: Avenir; font-size: 12px; color: #525252;">
                                                        <a href="https://goo.gl/8awKxD" target="_blank" style="color: #525252; text-decoration: none;">HOME</a> &#124;
                                                        <a href="https://goo.gl/TkPxfG" target="_blank" style="color: #525252; text-decoration: none;">LEARN</a> &#124;
                                                        <a href="https://fint.ng/forum" target="_blank" style="color: #525252; text-decoration: none;">FORUM</a>
                                                    </span></font>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;">
                                    <a href="https://twitter.com/@fint_ng" target="_blank"><img src="https://www.fint.ng/portal/images/emails/twitter.png" /></a> &nbsp;
                                    <a href="https://www.instagram.com/fint_ng/" target="_blank"><img src="https://www.fint.ng/portal/images/emails/instagram.png" /></a> &nbsp;
                                    <a href="https://www.facebook.com/fintng" target="_blank"><img src="https://www.fint.ng/portal/images/emails/facebook.png" /></a> &nbsp;
                                    <a href="https://www.medium.com/@fint/" target="_blank"><img src="https://www.fint.ng/portal/images/emails/medium.png" /></a>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="middle" style="font-size: 12px; line-height: 22px;" color="#282f37">
                                    <font face="Avenir" size="2" color="#282f37" style="font-size: 12px;">
		                                        <span style="font-family: Avenir; font-size: 12px; color: #525252;">
				                                        09098645115 (Whatsapp only)
				                                </span>
                                    </font>
                                </td>
                            </tr>
                            </tbody></table>

                        <table  style="border:none;border-collapse:separate;font-size:1px;height:2px;line-height:3px;width:100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr><td  style="background-color:#40a0d8;border:none;font-family:Avenir;width:100%" valign="top" bgcolor="#40a0d8">&nbsp;</td></tr>
                            </tbody>
                        </table>

                        <table  style="border-collapse:collapse;color:#c0c0c0;font-family:Avenir;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%" cellspacing="0" cellpadding="0" border="0">
                        </table>

                    </td></tr></tbody></table>

            </td></tr></tbody></table>
    </td></tr></tbody></table>
</body>
</html>